@model Instructor
<!--html, css, & js written by Jacob Sadler-->


<h1>Welcome back, @Model.FirstName.FirstCharToUpper()</h1>
<div class="desc">Select a course to view currently enrolled students and generate access codes.</div>
<div class="desc" style="color:red">@TempData["ErrorMessage"]</div>
<br>
@foreach(Course c in Model.Courses){
<a asp-action="Course" asp-controller="Instructor" asp-route-id="@c.CourseId" class="a-main">@c.CourseName</a>
}
<br>
<vc:success-popup></vc:success-popup>
