@model ReportViewModel
@{
    ViewData["Title"] = $"STLCC Attendance Tracker - {Model.Caller} Report";
}
<!--html, css, & js written by Jacob Sadler-->
<h1>Generate Student Report</h1>
<div class="desc">Fill out the  form to select what data you're looking for. Clicking "Generate Report" will download the report as a .xlsx file.</div>
<form class="adminform" asp-action="Report" asp-area="" asp-controller="Report" method="post">
    @{
        if (Model.Caller != "Student" && Model.Caller != "Instructor")
        {
          
                <span asp-validation-for="CourseId" class="validation-message"></span>
          
            <div class="formfield formfield-wide">
                <label asp-for="CourseId">Course Name:</label><br>
                <select class="formfield-dropdown" id="cname" asp-for="CourseId" >
                    <option value="0">Select a Course</option>
                    @foreach (Course c in Model.Courses)
                    {
                        <option value="@c.CourseId">@(c.CourseName + " - " + c.Instructor!.InstructorEmail) </option>
                    }
                </select>
            </div>

            <br />
        }
        else
        {
            <input type="hidden" asp-for="CourseId" />
        
        }
    }
    @if (Model.Caller != "Student")
    {
        <div class="formfield formfield-wide">
            <span asp-validation-for="StudentUsernames" class="validation-message"></span>
        </div>
        <div class="formfield formfield-wide">
            <label asp-for="StudentUsernames">Student Username(s):</label><br>
        <div class="smalldesc">To select multiple students, insert a comma and space between each one (student1, student2, ...)</div>
        <input class="adminotherinput" type="text" id="suser" asp-for="StudentUsernames" placeholder="(Leave blank to select all students)">
    </div>
    }
    else
    {
        <input type="hidden" asp-for="StudentUsernames" />
    }

   
    
    <span asp-validation-for="StartDate" class="validation-message "></span>
    <div class="formfield">
        <label for="rsd">Report Start Date:</label><br>
        <input class="adminnameinput" type="date" id="rsd" asp-for="StartDate" placeholder="(mm/dd/yy)">
    </div>
    <div class="formfield">
        <label for="red">Report End Date:</label><br>
        <input class="adminnameinput" type="date" id="red" asp-for="EndDate" placeholder="(mm/dd/yy)">
    </div>
    <div class="formfield">
        <input class="submit adminsubmit" type="submit" value="Generate Report">
    </div>
    <input type="hidden" asp-for="Caller" />
</form> 
