
@model LoginViewModel
@{
    ViewData["Title"] = "Admin Login";
    Layout = "_Layout";
}
<!--html, css, & js written by Jacob Sadler-->


<h1>Admin Login</h1>

<form class="loginform" asp-area="Admin" asp-action="Login" asp-controller="AdminAccount" >
    <div style="color: darkred;">@ViewBag.ErrorMessage</div>
    <label asp-for="Email">Username</label><br>
    <input class="textinput" type="text" id="email" name="email" asp-for="Email" placeholder="  Username"><br>
    <label asp-for="Password">Password</label><br>
    <input asp-for="Password" class="textinput" type="password" id="pword" placeholder="  Password"><br>
    <button class="submit "type="submit" value="Login">Login</button>
</form> 


