<!DOCTYPE html>
<!--html, css, & js written by Jacob Sadler-->


<a asp-controller="Home" asp-action="Index"><img src="~/images/logo.webp" class="stlcclogo"></a>
<h1>Welcome to the STLCC Attendance Tracker</h1>
<div class="desc">Our all-in-one attendance platform allows STLCC students, instructors, and qualified staff to easily log, track, and manage attendance records.</div>
<br>
<a asp-area="Student" asp-controller="StudentAccount" asp-action="Login" class="a-main">I'm a Student</a>
<a asp-area="Faculty" asp-controller="FacultyAccount" asp-action="Login" class="a-main">I'm an Instructor or Qualified Staff Member</a>

