@{
    Layout = "_Layout";
}
@model CreateCourseViewModel
<!--html, css, & js written by Jacob Sadler-->

<h1>Create New Course</h1>
<div class="desc">Use this form to create new courses. Pressing "Register Course" will implement the course into the database assuming all inputs are vaild.</div>

<form class="adminform" asp-action="Create" asp-controller="Course">

    <div class="formfield">
        <span asp-validation-for="CourseName" style="color:red" ></span>
    </div>
    <div class="formfield">
        <label asp-for="CourseName">Course Name:</label><br>
        <input asp-for="CourseName" class="adminotherinput" type="text" id="cname">
    </div>
    <div class="formfield formfield-wide">
        <span asp-validation-for="InstructorEmail" style="color:red"></span>
    </div>
    <div class="formfield formfield-wide">
        <label asp-for="InstructorEmail">Username of Instructor:</label><br>
        <input asp-for="InstructorEmail" class="adminotherinput" type="text" id="uname" >
    </div>
    @{
    var errors = ViewData.ModelState.Values.SelectMany(v => v.Errors);

    if(errors.Any(x => System.Text.RegularExpressions.Regex.IsMatch(x.ErrorMessage, "Time"))){
         <div class="formfield formfield-wide">
            <span style="color: red" asp-validation-for="CourseStartTime"></span>
         </div>
            <div class="formfield formfield-wide">
                <span style="color:red" asp-validation-for="CourseEndTime"></span>
            </div>
        <div class="formfield formfield-wide">
            <label asp-for="CourseStartTime">Class Start Time:</label><br>
            <input asp-for="CourseStartTime" class="adminotherinput" type="time" id="cst" >
        </div>
        <div class="formfield">
            <label asp-for="CourseEndTime">Class End Time:</label><br>
            <input asp-for="CourseEndTime" class="adminotherinput" type="time" id="cet" />
            </div>
        }
        else
        {
            <div class="formfield">
                <label asp-for="CourseStartTime" >Class Start Time:</label><br>
                <input asp-for="CourseStartTime" class="adminnameinput" type="time" id="cst">
            </div>
            <div class="formfield">
                <label asp-for="CourseEndTime">Class End Time:</label><br>
                <input asp-for="CourseEndTime" class="adminnameinput" type="time" id="cet" />
            </div>
        }
    }
    <div class="formfield">
        <input class="admincontrol" type="submit" value="Register Course" />
   
 
        <a asp-action="Home" asp-controller="Admin" asp-area="Admin" class="admincontrol">Cancel</a>
    </div>
</form>
