@model QualifiedStaff
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<!--html, css, & js written by Jacob Sadler-->

<h1>Welcome back, @Model.FirstName.FirstCharToUpper()</h1>
<div class="desc">As a qualified staff member, you may generate attendance reports to carry out tasks such as verifying financial aid and attendance requirements.</div>
<br>
<div class="desc">Select "Generate Report" to view and download attendance reports. Will download as a .xlsx file.</div>
<br />
<a asp-action="Report" asp-controller="QualifiedStaff" class="a-main a-center">Generate Report</a>
<vc:success-popup></vc:success-popup>
