@model FacultyReportViewModel
@{
    ViewData["Title"] = "STLCC Attendance Tracker - Staff Report";
}
<!--html, css, & js written by Jacob Sadler-->
<a asp-action="Home" asp-controller="QualifiedStaff"><img src="~/images/logo.webp" class="stlcclogo"></a>
<h1>Generate Student Report</h1>
<div class="desc">Fill out the  form to select what data you're looking for. Clicking "Generate Report" will download the report as a .xlsx file.</div>
<form asp-action="Report" asp-controller="Report" asp-area="" asp-route-userType="QualifiedStaff" method="post">
    <div class="formfield formfield-wide">
        <span asp-validation-for="CourseId" style="color: red"></span></div>
    <div class="formfield formfield-wide">
        <label asp-for="CourseId">Course Name:</label><br>
        <select class="formfield-dropdown" id="cname" asp-for="CourseId" >
            <option value="0">Select a Course</option>
            @foreach(Course c in Model.Courses)
            {
                <option value="@c.CourseId">@(c.CourseName + " - " + c.Instructor!.InstructorEmail) </option>
                
            }
        </select>
    </div>
    <br />
    <div class="formfield formfield-wide">
        <span asp-validation-for="StudentUsernames" style="color: red"></span>
    </div>
    <div class="formfield formfield-wide">
        <label asp-for="StudentUsernames">Student Username(s):</label><br>
        <div class="smalldesc">To select multiple students, insert a comma and space between each one (student1, student2, ...)</div>
        <input class="adminotherinput" type="text" id="suser" asp-for="StudentUsernames" placeholder="(Leave blank to select all students)">
    </div>
    <div class="formfield formfield-wide">
        <span asp-validation-for="StartDate" style="color: red"></span>
    </div>
    <div class="formfield">
        <label asp-for="StartDate">Report Start Date:</label><br>
        <input class="adminnameinput" type="date" id="rsd" asp-for="StartDate" placeholder="(mm/dd/yy)">
    </div>
    <div class="formfield">
        <label asp-for="EndDate">Report End Date:</label><br>
        <input class="adminnameinput" type="date" id="red" asp-for="EndDate" placeholder="(mm/dd/yy)">
    </div>
    <div class="formfield">
        <input class="submit adminsubmit" type="submit" value="Generate Report">
    </div>
</form> 
<div class="navbar">
    <a class="navbarbutton" href=#><img src="~/images/report.png" class="navbaricon">Report Issue</a>
    <a class="navbarbutton" asp-area="Faculty" asp-action="Home" asp-controller="QualifiedStaff"><img src="~/images/home.png" class="navbaricon">Home</a>
    <a class="navbarbutton" asp-area="" asp-action="LogOut" asp-controller="Home"><img src="~/images/signout.png" class="navbaricon">Sign Out</a>
</div>