@model Administrator
@{
    Layout = "_Layout";
}
<!--html, css, & js written by Jacob Sadler-->


<h1>Welcome back, @Model.FirstName.FirstCharToUpper()</h1>
<div class="desc">As an administrator, you have the ability to create, update, and delete user and course data.</div>
<br>
<button class="button-main button-center button-dropdown">Manage User Data</button>
<div class="student-dropdown">
    <a asp-action="Create" asp-controller="User" class="button-student a-main">Create New User</a>
    <a asp-action="Users" asp-controller="User"  class="button-student a-main">Manage Current Users</a>
</div>
<button class="button-main button-center button-dropdown">Manage Course Data</button>
<div class="student-dropdown">
    <a asp-action="Create" asp-controller="Course" class="button-student a-main">Create New Course</a>
    <a asp-action="Course" asp-controller="Course" class="button-student a-main">Manage Current Courses</a>
</div>
<br>
<div class="desc">Select "Generate Report" to view and download attendance reports. Will download as a .xlsx file.</div>
<br>
<a asp-action="Report" asp-controller="Admin" target=""><button class="button-main button-center">Generate Report</button></a>



<vc:success-popup></vc:success-popup>

@section scripts{
    <script src="~/js/dropdown.js"></script>
    <script src="~/lib//jquery/dist/jquery.min.js"></script>
}
























