@model Administrator
@{
    Layout = "_Layout";
}
<!--html, css, & js written by Jacob Sadler-->


 
        <a asp-action="Home" asp-area="Admin" asp-controller="Admin"><img src="~/images/logo.webp" class="stlcclogo"></a>
        <h1>Welcome back, @Model.FirstName.FirstCharToUpper()</h1>
        <div class="desc">As an administrator, you have the ability to create, update, and delete user and course data.</div>
        <br>
        <button class="button-main button-center button-dropdown">Manage User Data</button>
        <div class="student-dropdown">
            <a asp-action="Create" asp-controller="User" class="button-student a-main">Create New User</a>
            <a asp-action="Users" asp-controller="User"  class="button-student a-main">Manage Current Users</a>
        </div>
    <button class="button-main button-center button-dropdown">Manage Course Data</button>
        <div class="student-dropdown">
            <a asp-action="Create" asp-controller="Course" class="button-student a-main">Create New Course</a>
            <a asp-action="Course" asp-controller="Course" class="button-student a-main">Manage Current Courses</a>
        </div>
        <br>
        <div class="desc">Select a report type to view and download attendance reports. Will open in a new window.</div>
        <br>
        <a href="facultycoursereport.html" target="_blank"><button class="button-main">Generate Course Report</button></a>
        <a href="facultystudentreport.html" target="_blank"><button class="button-main">Generate Student Report</button></a>
        <div class="navbar">
            <a class="navbarbutton" href=#><img src="~/images/report.png" class="navbaricon">Report Issue</a>
            <a class="navbarbutton" asp-area="Admin" asp-action="Home" asp-controller="Admin"><img src="~/images/home.png" class="navbaricon">Home</a>
            <a class="navbarbutton" asp-area="" asp-action="LogOut" asp-controller="Home"><img src="~/images/signout.png" class="navbaricon">Sign Out</a>
        </div>

@if (TempData.Peek("SuccessMessage") != null)
{
    <dialog class="popup" id="popup">
        <div class="desc" style="color: green">@TempData["SuccessMessage"]</div>

        <div style="position:relative">
            <button  type="button" onclick="m.close()" class="submit " style="position: relative; width:24%; left: 38%"  href="#">Close</button>
        </div>
    </dialog>
    <script type="text/javascript">

        const m = document.querySelector("dialog");
        m.showModal();

    </script>
    }

@section scripts{
    <script src="~/js/dropdown.js"></script>
    <script src="~/lib//jquery/dist/jquery.min.js"></script>
}
























