@font-face {
    font-family: sourcesanspro;
    src: url(/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: sourcesansprolight;
    src: url(/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
    font-family: sourcesansproblack;
    src: url(/source-sans-pro/SourceSansPro-Black.otf);
}

a {
    text-decoration: none;
    color: rgb(239, 237, 253);
}

body {
    font-family: sourcesanspro, Arial, sans-serif;
    box-sizing: border-box;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

div.container-main { /**Div container for all pages**/
    margin: auto;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
    height: auto;
    width: 500px;
    border: 4px solid rgb(0, 58, 112);
    background-color: rgb(239, 237, 253);
}


div.container-wide {
    width: 900px !important;
}

div.container-main:has(.navbar) {
    padding-bottom: 0px;
}

.navbar {
    display: flex;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
    height: 70px;
    background-color: rgb(36, 83, 153);
}

.navbaricon {
    height: 40px;
}

.navbarbutton {
    font-family: sourcesansprolight, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin-left: 45px;
    margin-right: 45px;
    border: none;
    color: rgb(239, 237, 253);
    background-color: rgb(36, 83, 153);
}

    .navbarbutton:hover {
        transform: translateY(-4px);
        cursor: pointer;
    }

.smalldesc {
    font-family: sourcesansprolight, Arial, sans-serif;
    text-align: left;
    font-size: 16px;
    padding-top: 0px;
}

.reportcheckbox {
    padding-top: 200px;
    margin-left: 20px;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    font-size: 16px;
}

.formfield-checkbox {
    padding-bottom: 10px;
}

.validation-message {
    color: red;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 424px;
    height: auto;
    padding-left: 10px;
    text-align:center;
}

.container-accesscode {
    background-color: rgb(239, 237, 253);
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 30px;
    width: 60%;
    height: 60px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    border: 4px solid rgb(0, 58, 112);
}


    .container-accesscode:hover {
        background-color: rgb(224, 220, 252);
    }

.stlcclogo {
    height: 100px;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
}

input.admincontrol {
    border: none;
    color: white;
    background-color: rgb(0, 58, 112);
    box-shadow: none;
    height: 45px;
    text-align: center;
    border-radius: 6px;
    width: 211px;
    margin-left: 1px;
    margin-right: 1px;
}
input.admincontrol:hover {
    cursor: pointer;
    background-color: rgb(36, 83, 153);
}
a.admincontrol {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    color: white;
    background-color: rgb(0, 58, 112);
    box-shadow: none;
    text-align: center;
    border-radius: 6px;
    width: 211px;
    padding-top: 14px;
    padding-bottom: 15px;

    margin-left: 1px;
    margin-right: 1px;
}
a.admincontrol:hover {
    cursor: pointer;
    background-color: rgb(36, 83, 153);
}



.desc { /**Description text**/
    font-family: sourcesansprolight, Arial, sans-serif;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    padding-top: 15px;
}

.button-main { /**Primary button styling**/
    font-family: Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    color: rgb(239, 237, 253);
    font-size: 23px;
    margin-left: 20%;
    margin-bottom: 3px;
    width: 60%;
    border: none;
    padding: 20px;
    background-color: rgb(0, 58, 112);
}

    .button-main:hover {
        background-color: rgb(36, 83, 153);
        cursor: pointer;
    }

.a-main { /**Primary anchor styling**/
    display: inline-block;
    font-family: Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    color: rgb(239, 237, 253);
    font-size: 23px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3px;
    width: 52%;
    padding: 20px;
    background-color: rgb(0, 58, 112);
}

    .a-main:hover {
        background-color: rgb(36, 83, 153);
        cursor: pointer;
    }

.a-center {
    text-align: center;
}

.loginform {
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
}

.textinput {
    box-shadow: 0 0 15px 4px rgba(0, 58, 112, .15);
    border: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 94%;
    height: 45px;
}

.popupinput {
    width: 99%;
}

.logininput:focus {
    background-color: rgba(218, 227, 255, .001);
}

.submit {
    border: none;
    color: white;
    background-color: rgb(0, 58, 112);
    box-shadow: none;
    width: 70px;
    height: 45px;
}

    .submit:hover {
        cursor: pointer;
        background-color: rgb(36, 83, 153);
    }

.studentlist { /**Table of student names**/
    text-align: center;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    border-collapse: collapse;
}

.studenttd {
    font-size: 20px;
    border: 2px solid rgb(0, 58, 112);
    padding: 10px;
}

dialog { /** Modal/Popup boxes**/
    width: 450px;
    border: 4px solid rgb(0, 58, 112);
    background-color: rgb(239, 237, 253);
}

.popup::backdrop {
    background: rgb(0, 0, 0, 0.5);
}

.codetext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.formfield-dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 430px;
    height: 49px;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
}


.button-student { /**Student dropdown menu**/
    text-align: center;
    text-decoration: none;
    color: rgb(239, 237, 253);
    font-size: 18px;
    margin-left: 20%;
    margin-bottom: 3px;
    width: 60%;
    border: none;
    height: auto;
    padding: 10px;
    background-color: rgb(2, 26, 48);
}

    .button-student:hover {
        cursor: pointer;
        background-color: rgb(36, 83, 153);
    }

.student-dropdown {
    display: none;
}

.selectreport { /**Dropdown menus for generating reports on faculty side**/
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25%;
    width: 50%;
    height: 50px;
    font-size: 20px;
    color: rgb(239, 237, 253);
    background-color: rgb(0, 58, 112);
    padding-left: 10px;
}

.button-back {
    text-align: center;
    margin-top: 60px;
}

.button-red {
    background-color: rgb(160, 19, 19);
}

    .button-red:hover {
        background-color: rgb(190, 6, 6);
    }

.button-center {
    text-align: center;
}






table.admin {
    text-align: left;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    border-collapse: collapse;
}

td.admintd {
    font-size: 17px;
    padding: 10px;
    margin: 20px;
    width: auto;
}

td.admintdaction {
    text-align: center;
}

tr.reporttr {
    border-bottom: 1px solid rgb(0, 58, 112);
    border-top: 1px solid rgb(0, 58, 112);
}

tr.trheader {
    border-bottom: 0px;
    border-top: 0px;
}

tr.highlight {
    background-color: rgb(223, 218, 255);
}

.adminform {
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}

button.adminaction {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 31px;
    font-size: 15px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #bdbdbd;
    background-color: rgba(0, 0, 0, 0)
}

    button.adminaction:hover {
        background-color: rgba(29, 29, 29, 0.164);
        cursor: pointer;
    }

a.adminaction {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 30px;
    font-size: 15px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #bdbdbd;
    background-color: rgba(0, 0, 0, 0);
    color: black;
}



    a.adminaction:hover {
        background-color: rgba(29, 29, 29, 0.164);
        cursor: pointer;
    }

.adminnameinput {
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 199px;
    height: 45px;
}

.adminotherinput {
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 424px;
    height: 45px;
}

.formfield {
    margin-left: 10px;
    margin-right: 10px;
}

a.button-student {
    width: 56%;
}

.adminsubmit {
    text-align: center;
    border-radius: 6px;
    width: 430px;
}

.navbarbuttonwide {
    margin-left: 110px;
    margin-right: 110px;
}

.admininputsmall {
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 25px;
}

.admininputstudent {
    width: 80px;
}

.admininputstudentwide {
    width: auto;
}

.usertype {
    text-align: center;
    font-size: 16px;
    width: 432px;
    height: 49px;
    border-radius: 6px;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    margin-top: 10px;
    margin-bottom: 20px;
}

    .usertype:hover {
        cursor: pointer;
    }

input.adminaction {
    width: 80px;
    text-align: center;
    border-radius: 6px;
    height: 29px;
    margin-top: 10px;
}

.subheader {
    font-size: 25px;
}






table.report {
    text-align: center;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    border-collapse: collapse;
}

td.header {
    writing-mode: vertical-lr;
}

td.reporttd {
    font-size: 18px;
    border: 2px solid rgb(0, 58, 112);
    padding: 10px;
    margin: 20px;
    height: auto;
}

td.present {
    background-color: rgba(197, 247, 197, 0.397);
}

td.absent {
    background-color: rgba(243, 141, 141, 0.377);
}
.reportissueff {
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 424px;
    height: 95px;
    padding-bottom: 20px;
    resize: none;
}

input.admincontrolwide {
    width: 810px;
    margin-left: 45px;
}

a.admincontrolwide {
    width: 810px;
    margin-left: 45px;
}

@media (max-width: 950px) {
    input.admincontrolwide {
        margin-left: 30px;
        width: 540px;
    }

    a.admincontrolwide {
        margin-left: 30px;
        width: 540px;
    }
    
    div.container-wide {
        width: 600px;
    }

    .navbar {
        height: 80px;
    }

    .navbarbuttonwide {
        margin-left: 60px;
        margin-right: 60px;
    }

    button.adminaction {
        margin: 2px;
        height: 23px;
        font-size: 10px;
        width: auto;
    }

    a.adminaction {
        margin: 2px;
        font-size: 10px;
        width: auto;
    }

    .formfield {
        margin-bottom: 10px;
    }

    .admininputsmall {
        margin-bottom: 0px;
    }

    input.adminaction {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

@media (max-width: 630px) { /**Resizing for mobile**/
    div.container-main {
        width: 250px;
    }

    input.admincontrolwide {
        width: 340px;
    }

    input.admincontrol {
	    width: 98px;
    }
    a.admincontrol {
	    width: 98px;
    }

    .reportissueff {
        width: 200px;
    }

    .formfield-dropdown {
        width: 206px;
    }

    .stlcclogo {
        height: 75px;
    }

    h1 {
        font-size: 26px;
    }

    dialog {
        width: 200px;
    }

    .navbar {
        height: 80px;
    }

    .navbarbutton {
        margin-left: 10px;
        margin-right: 10px;
    }

    .a-main {
        width: 44%;
    }

    .container-accesscode {
        margin-left: 10%;
        width: 80%;
        font-size: 20px;
    }

    div.container-wide {
        width: 400px;
    }

    .navbarbuttonwide {
        margin-left: 30px;
        margin-right: 30px;
    }

    table.admin {
        table-layout: auto;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    td.admintd {
        font-size: 12px;
    }

    .formfield {
        margin-left: 10px;
    }

    .adminnameinput {
        width: 200px;
    }

    .adminotherinput {
        width: 200px;
    }

    .adminsubmit {
        width: 206px;
    }

    button.adminaction {
        margin: 2px;
        font-size: 10px;
        width: auto;
        height: 40px;
    }

    a.adminaction {
        margin: 2px;
        margin-top: 10px;
        font-size: 10px;
        width: auto;
    }

    td.ut {
        display: none;
    }

    .admininputstudent {
        width: 50px;
        font-size: 10px;
    }

    .admininputstudentwide {
        width: auto;
    }

    .usertype {
        width: 206px;
    }

    .admininputsmall {
        margin-bottom: 10px;
    }

    input.adminaction {
        margin-left: 0px;
        margin-top: 0px;
    }

    a.button-student {
        width: 52%;
    }
}
.modal {
    display: none;
}

.modal:target {
    display: block;
}

.modalbackdrop {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.modalbox {
    width: 300px;
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgb(0, 58, 112);
    background-color: rgb(239, 237, 253);
}