@font-face {
    font-family: sourcesanspro;
    src: url(/source-sans-pro/SourceSansPro-Regular.otf);
}
@font-face {
    font-family: sourcesansprolight;
    src: url(/source-sans-pro/SourceSansPro-Light.otf);
}
@font-face {
    font-family: sourcesansproblack;
    src: url(/source-sans-pro/SourceSansPro-Black.otf);
}

a {
    text-decoration: none;
    color: rgb(239, 237, 253);
}
body {
      font-family: sourcesanspro, Arial, sans-serif;
      box-sizing: border-box;
      background-image: url("/images/background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      background-attachment: fixed;
}
div.container-main { /**Div container for all pages**/
    margin: auto;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
    height: auto;
    width: 500px;
    border: 4px solid rgb(0, 58, 112);
    background-color: rgb(239, 237, 253);
}
.stlcclogo {
    height: 100px;
}
h1 {
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
}
.desc { /**Description text**/
    font-family: sourcesansprolight, Arial, sans-serif;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    padding-top: 15px;
}
.button-main { /**Primary button styling**/
    font-family: Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    color: rgb(239, 237, 253);
    font-size: 23px;
    margin-left: 20%;
    margin-bottom: 3px;
    width: 60%;
    border: none;
    padding: 20px;
    background-color: rgb(0, 58, 112);
}

.button-main:hover {
    background-color: rgb(36, 83, 153);
    cursor: pointer;
}

.a-main { /**Primary anchor styling**/
    display: inline-block;
    font-family: Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    color: rgb(239, 237, 253);
    font-size: 23px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3px;
    width: 52%;
    padding: 20px;
    background-color: rgb(0, 58, 112);
}

.a-main:hover {
    background-color: rgb(36, 83, 153);
    cursor: pointer;
}

.a-center {
    text-align: center;
}

.loginform {
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
}
.textinput { 
    box-shadow: 0 0 15px 4px rgba(0, 58, 112, .15);
    border: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 94%;
    height: 45px;
}
.popupinput {
    width: 99%;
}
.logininput:focus {
    background-color: rgba(218, 227, 255, .001);
}
.submit {
    border: none;
    color: white;
    background-color: rgb(0, 58, 112);
    box-shadow: none;
    width: 70px;
    height: 45px;
}
.submit:hover {
    cursor: pointer;
    background-color: rgb(36, 83, 153);
}
.studentlist { /**Table of student names**/
    text-align: center;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    border-collapse: collapse; 
}
.studenttd {
  font-size: 20px;
  border: 2px solid rgb(0, 58, 112);
  padding: 10px;
}
dialog { /** Modal/Popup boxes**/
    width: 450px;
    border: 4px solid rgb(0, 58, 112);
    background-color: rgb(239, 237, 253);
}
.popup::backdrop {
    background: rgb(0, 0, 0, 0.5);
  }
.codetext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.button-student { /**Student dropdown menu**/
    text-align: center;
    text-decoration: none;
    color: rgb(239, 237, 253);
    font-size: 18px;
    margin-left: 20%;
    margin-bottom: 3px;
    width: 60%;
    border: none;
    height: auto;
    padding: 10px;
    background-color: rgb(2, 26, 48);
}
.button-student:hover {
    cursor: pointer;
    background-color: rgb(3, 41, 77);
}
.student-dropdown {
    display: none;
}
.selectreport { /**Dropdown menus for generating reports on faculty side**/
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25%;
    width: 50%;
    height: 50px;
    font-size: 20px;
    color: rgb(239, 237, 253);
    background-color: rgb(0, 58, 112);
    padding-left: 10px;
}
.button-back {
    text-align: center;
    margin-top: 60px;

}
.a-back {
    text-align: center;
    margin-top: 60px;
}
.button-red {
    background-color: rgb(160, 19, 19);
}
.button-red:hover {
    background-color: rgb(190, 6, 6);
}

.button-center {
    text-align: center;
}

@media (max-width: 600px) { /**Resizing for mobile**/
    div.container-main {
        width: 250px;
    }
    .stlcclogo{
        height: 75px;
    }
    .container-buttons {
        font-size: 20px;
    }
    h1 {
        font-size: 26px;
    }
    dialog {
        width: 200px;
    }
    .navbar {
        height: 80px;
    }

    .navbarbutton {
        margin-left: 10px;
        margin-right: 10px;
    }

    .a-main {
        width: 44%;
    }

    .container-accesscode {
        margin-left: 10%;
        width: 80%;
        font-size: 20px;
    }
}

div.container-main:has(.navbar) {
    padding-bottom: 0px;
}

.navbar {
    display: flex;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
    height: 70px;
    background-color: rgb(36, 83, 153);
}

.navbaricon {
    height: 40px;
}

.navbarbutton {
    font-family: sourcesansprolight, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin-left: 45px;
    margin-right: 45px;
    border: none;
    color: rgb(239, 237, 253);
    background-color: rgb(36, 83, 153);
}

.navbarbutton:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.container-accesscode {
    background-color: rgb(239, 237, 253);
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20%;
    width: 60%;
    height: 60px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    border: 4px solid rgb(0, 58, 112);
}

.container-accesscode:hover {
    background-color: rgb(224, 220, 252);
}